* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  --gap-s: 4px;
  --gap-m: 16px;

  --control-s: 32px;
  --control-m: 40px;
  
  --square-s: 40px;
  --square-m: 128px;

  --padding-xs: 4px;
  --padding-s: 8px;
  --padding-m: 16px;
  --padding-l: 32px;

  height: 100vh;
  width: 100vw;
  padding: var(--padding-m);
  margin: 0;
}

.container {
  min-height: 100%;
  max-height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-m);
}

.logo {
  height: 10vh;
  min-height: 60px;
  max-height: 100px;
  width: max-content;
}

#game {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-m);

  overflow-y: scroll;
}

.results-container {
  flex-grow: 1;

  aspect-ratio: 5 /6;
  max-height: 80%;
  max-width: 80%;

  display:flex;
  flex-direction:row;
  align-items:center;
}

#results {
  flex-grow: 1;
  aspect-ratio: 5 / 6;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-s);
}

#results > div {
  width: 100%;

  display: flex;
  justify-content: center;
  gap: var(--gap-s);
}

.square {
  min-width: var(--square-s);
  width: calc((100% - 4 * var(--gap-s)) / 5);
  max-width: var(--square-m);
  aspect-ratio: 1 / 1;
  padding: var(--padding-xs);

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  text-align: center;
  font-size: 8px;

  container-type: inline-size;
  container-name: square-container
}

@container square-container (min-width: 48px) {
  .square > span {
    font-size: 10px;
  }
}

@container square-container (min-width: 64px) {
  .square > span {
    font-size: 12px;
  }
}

@container square-container (min-width: 72px) {
  .square > span {
    font-size: 14px;
  }
}

@container square-container (min-width: 96px) {
  .square > span {
    font-size: 16px;
  }
}

.square.empty {
  border: 2px solid #d3d6da;
}

.square.correct {
  background-color: #538d4e;
}

.square.incorrect {
  background-color: #3a3a3c;
}

#controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-s);
}

#controls > div {
  display: flex;
  gap: var(--gap-s)
}

#controls > div > button {
  min-width: var(--control-s);
  width: calc((100vw - 11 * var(--gap-s) - 2 * var(--padding-m)) / 12);
  max-width: var(--control-m);
  aspect-ratio: 1 / 1;
  background-size: cover;
}

#controls > div > button:disabled {
  filter: grayscale(1);
}

#overlay {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
}

#overlay > .overlay-content {
  padding: var(--padding-l);

  text-align: center;

  background-color: white;
  border-radius: 4px;
}

#overlay.none {
  display: none;
}

#streak {
  position: absolute;
  top: 24px;
  right: 0;
  
  max-width: calc((100vw - 100px) / 2 - 2 * var(--padding-m));
  padding: var(--padding-s) var(--padding-m);

  text-align: center;
  background-color: #d3d6da;
  font-size: 12px;
}
